.card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    user-select: none;
    object-fit: contain;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1,
  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}
